/* Add this to your CSS file or style block */
* {
  box-sizing: border-box;
}

.speech-to-text-container {
  width: 90%;
  height: 90%;
  text-align: center;
  font-family: Arial, sans-serif;
}

.record-button {
  background-color: #921818;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.record-button.recording {
  background-color: #c20a00;
}

.transcript-textarea {
  width: 100%;
  resize: none;
  font-size: 18px;
  outline: none;
  background-color: rgb(223, 223, 223);
  padding: 1.2rem;
}

.submit-button {
  background-color: #4c7aaf;
  color: white;
  padding: 10px 20px;
  border: none;
  transform: translateX(-50%);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #2267a3;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 10px;
}

.buttonsInnerDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-size: 2.3rem;
  color: rgb(209, 209, 209);
}

.titleInput {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 2.3rem;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.interim-transcript {
  color: rgb(184, 184, 184);
}
